---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
{
    date: "2022",
    title: "Profesor De Informática",
    company: "Instituto Nuevo Horizonte",
    description:
      "Fui profesor de informática con experiencia en la enseñanza de programación, desarrollo web y habilidades tecnológicas avanzadas.",
  },
  {
    date: "Actualmente...",
    title: "Editor De Video",
    company: "Freelance",
    description:
      "Soy editor de video freelance para creadores de contenido, empresas y proyectos independientes.",
    link: "https://www.linkedin.com/in/camilo-buelvas-acosta-2458b322b/",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
