---
import GitHub from "./icons/GitHub.astro"
import NextJS from "./icons/NextJS.astro"
import Tailwind from "./icons/Tailwind.astro"
import VideoRender from "./VideoRender.astro"

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
}
const PROJECTS = [
  {
    title: "Video para CORAL MUJAES",
    description:
      "Video en formato horizontal para el canal de Youtube 'Coral Mujaes'",
    link: "https://www.youtube.com/watch?v=7YLwnqQkGK4",
    type: "YouTube"
  },
  {
    title: "Video para canal sobre videojuegos",
    description:
      "Video dinámico en formato horizontal para el canal de Youtube 'DanicoLevelUP'",
    link: "https://www.youtube.com/watch?v=vs18bM1WSJ8",
    type: "YouTube"
  },
  {
    title: "Video con Storytelling",
    description:
      "Video dinámico en formato horizontal para el canal `Nachito`",
    link: "https://www.youtube.com/watch?v=0IhShIgOj5U",
    type: "YouTube"
  },
  {
    title: "Reel para Francis",
    description:
      "Video dinámico en formato vertical",
    link: "https://youtube.com/shorts/qQEGadsyA5E?si=PI0oF3MckvVIo2QY",
    type: "YouTube"
  },
  {
    title: "video para Francis",
    description:
      "Video dinamico para Youtube",
    link: "https://www.youtube.com/embed/EUG9AtfzdqU",
    type: "YouTube"
  },
   
]
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map((project) => (
      <VideoRender
        title={project.title}
        description={project.description}
        link={project.link}
        type={project.type}
      />
    ))
  }
</div>



